<div class="ph2-ns w-40-ns mb4 ml3 bg-grey-1 raise">
    <div><p class="f4 mt3">{{ .Title }}</p></div>
    {{ if .Params.Image }}
        {{ $original := path.Join "images/" (path.Base .Params.image) }}
        {{/* $original := path.Join (path.Dir .Page.File.Path) "images" (path.Base .Params.image) */}}
        {{ $originalImg := .Resources.GetMatch $original }}
        {{ if $originalImg }}
            {{ $thumbnailImg := $originalImg.Fit "800x400" }}
            {{ $pathArr := split $original "." }}
            {{ $pathLen := len $pathArr }}
            {{ $ext := index $pathArr (sub $pathLen 1) }}
            {{ if ne $ext "svg" }}
                {{ $thumbnailImg := $thumbnailImg.Resize "800x webp" }}
            {{ end }}
            {{ printf `<img src="%s" alt="%s"  class="center db mb3">` $thumbnailImg.RelPermalink .Title | safeHTML }}
        {{end}}
    {{end}}
    <p class="truncate">{{ .Description }}</p>
    <a href="{{ .RelPermalink }}" class="no-underline br1 mb2 db">
    <p class="link b dib black mb0">Read more →</p>
    </a>
</div>
