{{ if .image }}
    {{/* If the image is not a vector graphic, convert it to webp */}}
    {{ if ne (path.Ext .image) ".svg" }}
        {{ $resizeString := print .image.Width "x webp"}}
        {{ $convertedImage := .image.Resize $resizeString }}
        {{ printf `<img src="%s" alt="%s"  class="center db mb3">` $convertedImage.RelPermalink .Title | safeHTML }}
    {{ else }}
        {{ printf `<img src="%s" alt="%s"  class="center db mb3">` .image.RelPermalink .Title | safeHTML }}
    {{ end }}
{{end}}